<!-- userapp/templates/userapp/password_reset_form.html -->
{% extends 'datingapp/base.html' %}
{% load i18n %}

{% block content %}
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="card-body p-4 p-lg-5 text-black">

                        <p class="text-center mb-4">{% trans "Don't Remember Your Password?" %}</p>

                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="form-outline mb-4">
                                {{ form.new_password.label_tag }}
                                {{ form.new_password }}
                            </div>
                            <div class="form-outline mb-4">
                                {{ form.confirm_password.label_tag }}
                                {{ form.confirm_password }}
                            </div>
                            <div class="pt-1 mb-4">
                                <button class="btn btn-dark btn-lg btn-block" type="submit">{% trans 'Reset Password' %}</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
