{% extends 'datingapp/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <section class="vh-100" style="background-color: #e7f8ff;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="{% static 'userapp/cover.jpg' %}" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;"/>
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    <div class="d-flex flex-row-reverse">
                                        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                            <div style="width: fit-content;">
                                                <select onchange="this.form.submit()" name="language" class="form-select" id="inputGroupSelect04" aria-label="Default select example">
                                                    {% get_current_language as LANGUAGE_CODE %}
                                                    {% get_available_languages as LANGUAGES %}
                                                    {% get_language_info_list for LANGUAGES as languages %}
                                                    {% for language in languages %}
                                                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                                            {{ language.name_local }} ({{ language.code }})
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <form action="{% url 'userapp:signin' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <span class="h1 fw-bold mb-0"><img src="{% static 'userapp/logo.png' %}" style="height: 60px;" alt="Frendate"></span>
                                        </div>
                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">{% trans 'Enter the information you entered while registering.' %}</h5>
                                        {% if error_signin %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ error_signin }}
                                            </div>
                                        {% endif %}
                                        <div class="form-outline mb-4">
                                            <input type="text" id="username" name="username" class="form-control form-control-lg" placeholder="{% trans 'Login' %}"/>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="{% trans 'Password' %}"/>
                                        </div>
                                        <div class="pt-1 mb-4">
                                            <button class="btn btn-dark btn-lg btn-block" type="submit">{% trans 'Sign In' %}</button>
                                        </div>
                                        <p class="mb-2" style="color: #393f81;">{% trans "Don't have an account?" %} <a href="{% url 'userapp:signup' %}" style="color: #393f81;">{% trans 'Sign Up' %}</a></p>
                                        <p class="mb-0" style="color: #393f81;">{% trans "Don't remember your password?" %} <a href="{% url 'userapp:forget_password_action' %}" style="color: #393f81;">{% trans 'Forgot Password?' %}</a></p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
