body {
    min-height: 100vh;
}

.btn-circle.btn-xl {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 90px;
    height: 90px;
    padding: 10px 16px;
    border-radius: 50%;
}

.card {
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    max-width: 500px;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    height: 400px;
}

.card .card-image {
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card .card-content {
    position: absolute;
    bottom: 0px;
    color: #fff;
    background: rgba(104, 103, 103, 0.098);
    backdrop-filter: blur(15px);
    min-height: 140px;
    width: 100%;
    transition: bottom .4s ease-in;
    box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.card .card-content h5 {
    transition: 0.5s;
    font-weight: 200;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.card .card-content .social-icons {
    list-style: none;
    padding: 0;
}


.card .card-content .social-icons li a {
    color: #fff;
}

.card .card-content .social-icons li a span {
    font-size: 1.3rem;
}

@media (max-width: 991.5px) {
    .container {
        margin-top: 20px;
    }
}